<header class="headernuevo">
  <div class="contenedor">
      <nav class="menu">
          <div class="logo1">
              <img src="../../../assets/img/riasdev.png"  alt="RIASDEV"
                  title="RIASDEV">
          </div>
          <!-- <span class="menu-icon">Ver menú</span> -->
          <div class="enlaces1">
              <ul class="show">
                  <li><a (click)="scroll1(inicio)">Inicio</a></li>
                  <li><a (click)="scroll2(quienessomos)">Nosotros</a></li>
                  <li><a (click)="scroll3(conocimientos)">Servicios</a></li>
                  <li><a (click)="scroll4(trabajos)">Webs</a></li>
                  <li><a (click)="scroll5(contactos)">Contactos</a></li>
              </ul>
          </div>
      </nav>
  </div>
</header>
<div class="seccioninicio" #inicio>

</div>
<div class="seccionquienessomos" #quienessomos>

</div>
<div class="seccionconocimientos" #conocimientos>

</div>
<div class="secciontrabajos" #trabajos>

</div>
<div class="seccioncontactos" #contactos>

</div>
<footer>

</footer>